
<app-topbar></app-topbar>
<app-navbar></app-navbar>

<br>
<section id="addressbooksection">
  <div class="row">
    <div class="col-md-2">
      <div class="menuitemscontainer">
          <!-- compose -->
          <div class="menuitemwrapper" [routerLink]="['./contacts']"  routerLinkActive="hoverselected" >
            <div class="menuitem">
                <div>
                  <span><i class="fas fa-user"></i></span>
                </div>
                <div>
                  Hajji
                </div>
            </div>
          </div>

          <!-- inbox -->
          <div class="menuitemwrapper" [routerLink]="['./groups']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fas fa-users"></i></span>
                </div>
                <div>
                  Groups
                </div>
            </div>
          </div>

          <!-- inbox -->
          <!-- <div class="menuitemwrapper" [routerLink]="['./newcontact']" routerLinkActive="hoverselected">
            <div class="menuitem">
                <div>
                  <span><i class="fas fa-plus-circle"></i></span>
                </div>
                <div>
                  Add Contact
                </div>
            </div>
          </div>        -->
          
      </div>
    </div>
    <div class="col-md-10" style="border-left:1px solid rgba(0,0,0,.1)">
      <div class="menuitemsviewscontainer">
          <router-outlet></router-outlet>
      </div>
      
    </div>
  </div>
</section>